In [70]:
import pandas as pd
import re

In [71]:
f = open('train_number.txt', 'r')

data = f.readlines()

f.close()

In [72]:
f = open('train2_number.txt', 'r')

data2 = f.readlines()

f.close()

In [73]:
station_name_list = []
for page in data:
    r = re.findall('(?<=(<td class="stationName">))(.*?)(?=</td>)', page)
    
    for num in r:
        station_name_list.append(num[1])

In [74]:
for page in data2:
    r = re.findall('<td class="stationName"><a href=".*?">(.*?)</a>', page)
    
    for num in r:
        station_name_list.append(num)

In [75]:
len(station_name_list)

909

In [76]:
rides_list = []

for page in data:
    r = re.findall('(?<=(<td>))(.*?)(?=</td>)', page)
    for i, n in enumerate(r):
        if i % 3 == 2:
            ri = "".join(n[1].split(","))
            rides_list.append(int(ri))

In [77]:
for page in data2:
    r = re.findall('</a></td>, <td>.*?</td>, <td>.*?</td>, <td>(.*?)</td>', page)
    
    for num in r:
        ri = "".join(num.split(","))
        rides_list.append(ri)

In [78]:
len(rides_list)

909

In [79]:
rides_df = pd.DataFrame({"最寄駅：名称": station_name_list, "乗車数": rides_list})

In [80]:
rides_df.head()

  最寄駅：名称    乗車数
0    西荻窪  45712
1   阿佐ケ谷  45603
2     鎌倉  43183
3     亀有  42901
4     中山  41986

In [81]:
rides_df.to_csv('./rides_df', index=False)

In [82]:
rides_df = pd.read_csv('./rides_df')

In [83]:
rides_df

    最寄駅：名称    乗車数
0      西荻窪  45712
1     阿佐ケ谷  45603
2       鎌倉  43183
3       亀有  42901
4       中山  41986
..     ...    ...
904     金町  51572
905     稲毛  49966
906   新大久保  49438
907     駒込  48861
908     田端  47008

[909 rows x 2 columns]