In [2]:
import glob
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [28]:
files = glob.glob("/tmp/working/dataset/nishika/old_apartment/train/*.csv")

In [30]:
data_list = []
for file in files:
    data_list.append(pd.read_csv(file, index_col=0))

/opt/conda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [32]:
df = pd.concat(data_list)

In [34]:
df.shape

(637351, 27)

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 637351 entries, 1060685 to 47003572
Data columns (total 27 columns):
種類              637351 non-null object
地域              0 non-null float64
市区町村コード         637351 non-null int64
都道府県名           637351 non-null object
市区町村名           637351 non-null object
地区名             637060 non-null object
最寄駅：名称          634732 non-null object
最寄駅：距離（分）       614306 non-null object
間取り             615609 non-null object
面積（㎡）           637351 non-null object
土地の形状           0 non-null float64
間口              0 non-null float64
延床面積（㎡）         0 non-null float64
建築年             619117 non-null object
建物の構造           623423 non-null object
用途              591214 non-null object
今後の利用目的         275091 non-null object
前面道路：方位         0 non-null float64
前面道路：種類         0 non-null float64
前面道路：幅員（ｍ）      0 non-null float64
都市計画            618786 non-null object
建ぺい率（％）         614848 non-null float64
容積率（％）          614848 non-null float64
取引時点            637351 non-null object
改装              580431 non-null object
取引の事情等          18275 non-null object
取引価格（総額）_log    637351 non-null float64
dtypes: float64(10), int64(1), object(16)
memory usage: 136.2+ MB

In [41]:
nonnull_list = []

for col in df.columns:
    nonnull = df[col].count()
    if nonnull == 0:
        nonnull_list.append(col)

nonnull_list

df = df.drop(nonnull_list, axis=1)

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 637351 entries, 1060685 to 47003572
Data columns (total 20 columns):
種類              637351 non-null object
市区町村コード         637351 non-null int64
都道府県名           637351 non-null object
市区町村名           637351 non-null object
地区名             637060 non-null object
最寄駅：名称          634732 non-null object
最寄駅：距離（分）       614306 non-null object
間取り             615609 non-null object
面積（㎡）           637351 non-null object
建築年             619117 non-null object
建物の構造           623423 non-null object
用途              591214 non-null object
今後の利用目的         275091 non-null object
都市計画            618786 non-null object
建ぺい率（％）         614848 non-null float64
容積率（％）          614848 non-null float64
取引時点            637351 non-null object
改装              580431 non-null object
取引の事情等          18275 non-null object
取引価格（総額）_log    637351 non-null float64
dtypes: float64(3), int64(1), object(16)
memory usage: 102.1+ MB

In [44]:
df["市区町村名"].value_counts()
# 市区町村名

大田区        12269
江東区        11591
世田谷区       10747
港区         10580
新宿区        10055
品川区         9138
板橋区         8532
中央区         8349
練馬区         7800
杉並区         6986
足立区         6674
文京区         6670
福岡市中央区      6507
渋谷区         6353
豊島区         6294
墨田区         6164
札幌市中央区      5776
船橋市         5429
台東区         5405
川口市         5182
横浜市港北区      5123
福岡市博多区      4980
江戸川区        4755
大阪市中央区      4652
西宮市         4643
横浜市中区       4470
葛飾区         4469
目黒区         4436
大阪市北区       4428
八王子市        4366
           ...
島田市            4
岡山市東区          4
筑後市            3
三重郡朝日町         3
高山市            3
遠賀郡芦屋町         3
中間市            3
日高市            2
名取市            2
筑西市            2
吉野郡吉野町         2
榛原郡川根本町        2
丹羽郡大口町         2
美濃加茂市          2
瑞浪市            2
柳川市            2
宮城郡七ヶ浜町        2
宮城郡松島町         2
可児市            2
行橋市            1
羽島郡岐南町         1
新潟市西蒲区         1
堺市美原区          1
淡路市            1
大川市            1
刈田郡蔵王町         1
粕屋郡宇美町         1
田川郡糸田町         1
安芸郡坂町          1
粕屋郡新宮町         1
Name: 市区町村名, Length: 618, dtype: int64

In [45]:
df = df.drop("市区町村名", axis=1)

In [46]:
df.describe()

             市区町村コード        建ぺい率（％）         容積率（％）   取引価格（総額）_log
count  637351.000000  614848.000000  614848.000000  637351.000000
mean    18513.985300      67.601944     301.601876       7.217424
std      9596.722442      10.402295     148.105400       0.353935
min      1101.000000      30.000000      50.000000       2.653213
25%     13106.000000      60.000000     200.000000       7.000000
50%     14104.000000      60.000000     200.000000       7.255273
75%     27114.000000      80.000000     400.000000       7.447158
max     47213.000000      80.000000    1300.000000       9.934498

In [50]:
df.astype("str").describe()

              種類 市区町村コード        ...          取引の事情等       取引価格（総額）_log
count     637351  637351        ...          637351             637351
unique         1     618        ...              10                380
top     中古マンション等   13111        ...             nan  7.176091259055681
freq      637351   12269        ...          619076              20996

[4 rows x 19 columns]

In [52]:
df["種類"].value_counts()

中古マンション等    637351
Name: 種類, dtype: int64

In [53]:
df = df.drop("種類", axis=1)

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 637351 entries, 1060685 to 47003572
Data columns (total 18 columns):
市区町村コード         637351 non-null int64
都道府県名           637351 non-null object
地区名             637060 non-null object
最寄駅：名称          634732 non-null object
最寄駅：距離（分）       614306 non-null object
間取り             615609 non-null object
面積（㎡）           637351 non-null object
建築年             619117 non-null object
建物の構造           623423 non-null object
用途              591214 non-null object
今後の利用目的         275091 non-null object
都市計画            618786 non-null object
建ぺい率（％）         614848 non-null float64
容積率（％）          614848 non-null float64
取引時点            637351 non-null object
改装              580431 non-null object
取引の事情等          18275 non-null object
取引価格（総額）_log    637351 non-null float64
dtypes: float64(3), int64(1), object(14)
memory usage: 92.4+ MB