In [1]:
from pre3 import data_pre
from input_data import input_df
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [59]:
df = input_df()
df = data_pre(df)

/opt/conda/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3357: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 651975 entries, 1117225 to 47008266
Data columns (total 21 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   都道府県名         651975 non-null  object
 1   市区町村名         651975 non-null  object
 2   地区名           651318 non-null  object
 3   最寄駅：名称        649342 non-null  object
 4   最寄駅：距離（分）     628916 non-null  float64
 5   間取り           629546 non-null  object
 6   面積（㎡）         651975 non-null  float64
 7   建築年           633280 non-null  float64
 8   建物の構造         637098 non-null  object
 9   用途            601333 non-null  object
 10  今後の利用目的       288948 non-null  object
 11  都市計画          633162 non-null  object
 12  建ぺい率（％）       629168 non-null  float64
 13  容積率（％）        629168 non-null  float64
 14  取引時点          651975 non-null  float64
 15  改装            593301 non-null  object
 16  取引の事情等        18397 non-null   object
 17  取引価格（総額）_log  651975 non-null  float64
 18  緯度            651975 non-null  float64
 19  経度            651975 non-null  float64
 20  クラスタ平均        651975 non-null  float64
dtypes: float64(10), object(11)
memory usage: 109.4+ MB

In [48]:
df["平均価格"] = df["取引価格（総額）_log"] / df["面積（㎡）"]

In [49]:
df = df[["都道府県名", "市区町村名", "平均価格"]]

In [50]:
t = df.groupby(["都道府県名", "市区町村名"]).mean()

In [51]:
t

                  平均価格
都道府県名 市区町村名
三重県   三重郡川越町  0.105308
      三重郡朝日町  0.113745
      伊勢市     0.110150
      四日市市    0.100698
      松阪市     0.094643
...                ...
鳥取県   鳥取市     0.151519
鹿児島県  薩摩川内市   0.089514
      霧島市     0.094551
      鹿児島市    0.139012
      鹿屋市     0.089419

[618 rows x 1 columns]

In [52]:
mean_value = t["平均価格"].tolist()
mean_value.append(0.109840)

In [53]:
area_list = []
for i in t.index:
    area_list.append(i[1]) 

area_list.append("北相馬郡利根町")

In [71]:
area_mean_df = pd.DataFrame({"市区町村名":area_list, "平均価格":mean_value})

In [72]:
area_mean_df

       市区町村名      平均価格
0     三重郡川越町  0.105308
1     三重郡朝日町  0.113745
2        伊勢市  0.110150
3       四日市市  0.100698
4        松阪市  0.094643
..       ...       ...
614    薩摩川内市  0.089514
615      霧島市  0.094551
616     鹿児島市  0.139012
617      鹿屋市  0.089419
618  北相馬郡利根町  0.109840

[619 rows x 2 columns]

In [73]:
area_mean_df.to_csv('area_mean_df.csv', index=False)

In [74]:
area_mean_df = pd.read_csv('area_mean_df.csv')

In [75]:
area_mean_df

       市区町村名      平均価格
0     三重郡川越町  0.105308
1     三重郡朝日町  0.113745
2        伊勢市  0.110150
3       四日市市  0.100698
4        松阪市  0.094643
..       ...       ...
614    薩摩川内市  0.089514
615      霧島市  0.094551
616     鹿児島市  0.139012
617      鹿屋市  0.089419
618  北相馬郡利根町  0.109840

[619 rows x 2 columns]

In [76]:
df = pd.merge(df, area_mean_df, on="市区町村名")